
/*
.logo.container{
  margin: 0 0 0 0;
}
*/
.c1{  
  background-color: #458574;
}
.c2{  
  background-color: #4a5474;
}
.c3{  
  background-color: #703070;
}
.i1{  
  background-color: #19afb4;
}
.i2{  
  background-color: rgb(96, 207, 130);
}